<section class="form">
  <div class="container">
    <div class="form-content">
      <div class="form-content__wrap">
        <img
          width="30"
          alt="Join now banner"
          src="./img/form-text.png"
          srcset="./img/form-text-2x.png 2x"
        />

        <p class="form-content-text">
          JOIN NOW! REGISTER IN THE SYSTEM IMMEDIATELY TO SECURE YOUR SPOT!
        </p>
      </div>
      <img
        width="550"
        src="./img/calc.png"
        srcset="./img/calc-2x.png 2x"
        alt="keyboard"
      />
    </div>
    <div class="form-register">
      <form class="form-list">
        <p class="form-register-text">
          Discover the path to financial abundance!
        </p>
        <label class="form-register-label">
          <input
            type="text"
            name="userName"
            class="form-register-input userName"
            placeholder="Full Name"
            aria-label="Full Name"
          />
        </label>
        <label class="form-register-label">
          <input
            type="text"
            name="userLastName"
            class="form-register-input userLastName"
            placeholder="Last Name"
            aria-label="Last Name"
          />
        </label>
        <label class="form-register-label">
          <input
            type="mail"
            name="email"
            class="form-register-input email"
            placeholder="Email Address"
            aria-label="Email Address"
          />
        </label>
        <label class="form-register-label phone">
          <div class="form-register-phone user-phone">
            <img
              src="./img/uk.png"
              srcset="./img/uk-2x.png 2x"
              alt="United Kingdom flag"
              width="26.4"
            />
            <span>+64</span>
            <span>|</span>
          </div>
          <input
            type="tel"
            name="phone"
            class="form-register-input input-phone"
            placeholder="21 123 4567"
            aria-label="Phone Number"
          />
        </label>
        <button type="submit" class="form-register-btn">SIGN UP</button>
        <label class="form-register-label check">
          <input type="checkbox" required />
          <p  class="Registering">
            By registering, I confirm that I have read and agree to the terms of
            service and privacy policy outlined on the website.
          </p>
        </label>

        <div class="form-register-conf">
          <img
            width="16"
            src="./img/vector.png"
            srcset="./img/vector-2x.png 2x"
            alt="vector"
          />

          <p class="restAssuredText">
            <span class="restAssuredSpan">
              Rest assured, your data is always securely protected with
              us.</span
            ><br />
            Feel free to update your preferences at any time by using the
            unsubscribe link in the bottom of any email you receive from us. We
            take your privacy seriously and handle your information with the
            utmost care. By clicking the button above, you consent to the
            processing of your information in accordance with these terms.
          </p>
        </div>
      </form>
    </div>
  </div>
</section>
