<section class="form">
  <div class="container">
    <div class="form-content">
      <div class="form-content__wrap">
        <img
          width="30"
          alt="Join now banner"
          src="./img/form-text.png"
          srcset="./img/form-text-2x.png 2x"
        />

        <p class="form-content-text"></p>
      </div>
      <img
        width="550"
        src="./img/calc.png"
        srcset="./img/calc-2x.png 2x"
        alt="keyboard"
      />
    </div>
    <div class="form-register">
      <form class="form-list">
        <p class="form-register-text"></p>
        <label class="form-register-label">
          <input
            type="text"
            name="userName"
            class="form-register-input userName"
            aria-label="Full Name"
          />
        </label>
        <label class="form-register-label">
          <input
            type="text"
            name="userLastName"
            class="form-register-input userLastName"
            aria-label="Last Name"
          />
        </label>
        <label class="form-register-label">
          <input
            type="mail"
            name="email"
            class="form-register-input email"
            aria-label="Email Address"
          />
        </label>
        <label class="form-register-label phone">
          <div class="form-register-phone user-phone">
            <img
              src="./img/uk.png"
              srcset="./img/uk-2x.png 2x"
              alt="United Kingdom flag"
              width="26.4"
            />
            <span>+64</span>
            <span>|</span>
          </div>
          <input
            type="tel"
            name="phone"
            class="form-register-input input-phone"
            placeholder="21 123 4567"
            aria-label="Phone Number"
          />
        </label>
        <button type="submit" class="form-register-btn"></button>
        <label class="form-register-label check">
          <input type="checkbox" class="checkbox" />
          <span></span>
          <p class="Registering"></p>
        </label>

        <div class="form-register-conf">
          <img
            width="16"
            src="./img/vector.png"
            srcset="./img/vector-2x.png 2x"
            alt="vector"
          />
          <div class="wrap">
            <span class="restAssuredSpan"></span>
            <p class="restAssuredText"></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
