<header class="header">
  <div class="container">
    <div class="header-logo">
      <h1>Turing Machine <span> AI</span></h1>
    </div>
    <ul class="header-list">
      <li class="header-list_item">
        <span class="header-list-text currentRevenue"></span
        ><span class="header-list-value total">$</span>
      </li>
      <li class="header-list_item">
        <span class="header-list-text profitsToday"> </span
        ><span class="header-list-value today">$</span>
      </li>
      <li class="header-list_item">
        <span class="header-list-text hurrySpots"></span>
      </li>
    </ul>
  </div>
</header>
